body{
    font-size: 15px;
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
 }
 
p{
    font-family: myFirstFont;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    width: 500px;
    align-items: center;
    text-align: center;
    justify-content: center;
}